body {
  background: #d2ccc5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Calculator {
  width: 400px;
  height: 300px;
  position: relative;
  margin: 25px;
}

.ButtonStyle {
  background-color: #0997f5;
  color: white;
  height: 60px;
  width: 60px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  margin: 2px;
  border-radius: 5px;
  border: none;
}

.screen-row input {
  width: 240px;
  height: 40px;
  background: rgb(133, 32, 32);
  color: white;
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
}
